<div *ngIf="sale">
    <h2>Vehicle Details</h2>
    <div><span>Make: </span>{{sale.vehicle.model.make.name}}</div>
    <div><span>Model: </span>{{sale.vehicle.model.name}}</div>
    <div><span>Color: </span>{{sale.vehicle.color}}</div>
    <div><span>Description: </span>{{sale.vehicle.description}}</div>
    <div *ngIf="maxBid"><span>Current Largest Bid: </span>{{maxBid.bid}}</div>
    <div>
      <label for="make-bid">Make Bid: </label>
      <input id="make-bid" [(ngModel)]="amount" placeholder=""/>
      <button (click)="makeBid()">submit</button>
    </div>
    <button (click)="goBack()">go back</button>
</div>